html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

.title-link {
  font-size: 120%;
  padding-left: 10px; }

.popup-header {
  padding: 6px;
  padding-left: 10px;
  background-color: #f0f0f0;
  border-radius: 4px; }

.control-block {
  border: 1px solid gray;
  border-radius: 3px;
  height: 5.5em; }

.flexbox-container > .control-block:first-child {
  margin-right: 5px; }

.flexbox-container {
  height: 100%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }

.flexbox-container > div {
  width: 50%; }

/* Two columns. 
.flexbox-container > div:first-child {
	width: 60%;
}

.flexbox-container > div:last-child {
	width: 40%;
}
*/
#container {
  width: 100%;
  height: 460px; }

.info-box {
  width: 36%;
  margin-left: 5px; }

.navigate-holder, .zoom-holder {
  width: 30%; }

.zoom-holder {
  margin-left: 5px;
  width: 30%; }

button {
  border: 2px solid white;
  padding: 5px;
  background-color: lightgray; }

#message-details {
  position: absolute;
  top: 5px;
  left: 50px;
  background-color: #ffa0a0;
  display: none;
  padding: 5px;
  text-align: center; }

#feature-details {
  padding: 16px;
  background-color: #eeeeee;
  z-index: 1; }

#map-container {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex: 1;
  flex-flow: column nowrap; }

.controls-container {
  overflow: auto;
  background-color: #eeeeee; }

.controls {
  z-index: 1; }

.centered-container {
  text-align: center; }

.half-width {
  display: inline-block;
  width: 48.5%; }

.full-width {
  width: 100%; }

.leaflet-popup {
  z-index: 100; }
